.animate__pulse {
    color: white;
}

.animate__slideInLeft, .animate__slideInRight {
  --animate-duration: 2.5s;
}

// Front-page portfolio button animation
.portfolio-btn {
    transition: all 0.5s;
    cursor: pointer;
    background-color: $darkblue;
    display: block;
    width: 95%;
    margin: auto;
    color: $gold;
    border: 1px solid $gold;
    border-radius: 7px;
    box-shadow: $shadow;
  }
  
  .portfolio-btn a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .portfolio-btn a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 25%;
    right: -20px;
    transition: 0.5s;
  }
  
  .portfolio-btn:hover a {
    padding-right: 25px;
  }
  
  .portfolio-btn:hover a:after {
    opacity: 1;
    right: 5%;
  }