// Portfolio CTA
.post-8 img {
    width: 60%;
}

.desktop-devices {
    display: none;
}

.profile-cta {
    text-align: center;
    article {
        margin-bottom: 15px;
    }
    .entry-content {
        margin-top: 15px;
    }
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        background-color: $darkblue;
        display: block;
        width: 90%;
        margin: auto;
        color: $gold;
        padding: 10px;
        border: 1px solid $gold;
        border-radius: 7px;
    }
}

@media (min-width: 750px){
    .desktop-devices {
        display: block;
        width: 70%;
    }
    .post-8 img {
        display: none;
    }
    .profile-cta {
        display: flex;
        max-width: 1200px;
        margin: auto;
        .cta-text {
            width: 30%;
        }
        .post-8 {
            margin: 0;
        }
    }

}

// Designer
.page-id-8 {
    
}

// Developer