// Portfolio page styles

.post-type-archive-bt-projects {
    text-align: center;
    .banner {
        @media(min-width: 1000px){
            margin-bottom: 40px;
        }
    }
    .content {
        padding: 0 10px;
    }
    .project-intro {
        position: absolute;
        top: 70%;
        right: 50%;
        width: 100%;
        transform: translate(50%, -50%);
        font-size: 5vw;
        color: $gold;
        padding: 0 10px; 
        @media (min-width: 370px){
            font-size: 18.5px;
            margin-top: 20px;
        }
    }
    .project-card {
        position: relative;
        max-width: 450px;
        margin: auto;
        a {
            text-decoration: none;
            color: black;
        }
        h1 {
            position: absolute;
            top: 10%;
            right: 50%;
            font-size: 8vw;
            text-transform: uppercase;
            transform: translate(50%, 50%);
            display: block;
            width: 100%;
            z-index: 2;
            color: white;
            border-bottom: 2px solid $gold;
            @media (min-width: 600px){
                font-size: 46px;
            }
        }
        .logos {
            margin: 10px 0 60px 0;
            img {
                height: 8vw;
                width: auto;
                margin: 0 5px;
                max-height: 40px;
            }
        }
        .project-poster {
            border-radius: 25px;
            filter: brightness(50%);
            -webkit-filter: brightness(50%);
            -moz-filter: brightness(50%);
            box-shadow: $shadow;
        }
        .project-btn {
            position: absolute;
            bottom: 20%;
            right: 50%;
            transform: translate(50%);
            color: $gold;
            background-color: $darkblue;
            display: block;
            width: 80%;
            padding: 8px;
            border: 2px solid $gold;
            border-radius: 10px;
        }
    }
}

@media (min-width: 1000px){
    .post-type-archive-bt-projects{
        .content {
            max-width: 1200px;
            margin: auto;
        }
        .content {
            display: flex;
        }
        .project-card {
            width: 300px;
            h1 {
                font-size: 28px;
                top: 13%;
                transform: translate(50%);
                padding-bottom: 5px;
            }
            .project-btn{
                bottom: 35%;
            }
            .logos img {
                height: 30px;
            }
        }
        
    }
}