// Portfolio page styles

.post-type-archive-bt-projects {
    .banner {
        @media(min-width: 1000px){
            margin-bottom: 40px;
        }
    }
    .content {
        padding: 0 10px;
    }
    .project-intro {
        position: absolute;
        top: 70%;
        right: 50%;
        width: 100%;
        transform: translate(50%, -50%);
        font-size: 5vw;
        color: $gold;
        padding: 0 10px; 
        @media (min-width: 370px){
            font-size: 18.5px;
            margin-top: 20px;
        }
    }
}

.project-card {
    text-align: center;
    position: relative;
    max-width: 450px;
    margin: auto;
    transition: 0.2s ease-in; // Make icons drop slowly after hover 
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        position: absolute;
        top: 10%;
        right: 50%;
        font-size: 8vw;
        transform: translate(50%, 50%);
        display: block;
        width: 100%;
        z-index: 2;
        color: white;
        border-bottom: 2px solid $gold;
        @media (min-width: 600px){
            font-size: 46px;
        }
    }
    .logos {
        margin: 10px 0 30px 0;
        img {
            height: 8vw;
            width: auto;
            margin: 0 5px;
            max-height: 40px;
        }
    }
    .project-poster {
        border-radius: 25px;
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        -moz-filter: brightness(35%);
        box-shadow: $shadow;
    }
    .project-btn {
        position: absolute;
        bottom: 20%;
        right: 50%;
        transform: translate(50%);
        color: $gold;
        background-color: $darkblue;
        display: block;
        width: 80%;
        padding: 8px;
        border: 2px solid $gold;
        border-radius: 10px;
       
    }
}

.project-card:hover {
    transform: translateY(-0.25em);
    transition: 0.6s ease;
} 

@media (min-width: 1000px){
    .post-type-archive-bt-projects{
        .content {
            max-width: 1200px;
            margin: auto;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
        }
        .project-card {
            width: 300px;
            h1 {
                font-size: 28px;
                top: 13%;
                transform: translate(50%);
                padding-bottom: 5px;
            }
            .project-btn{
                bottom: 35%;
            }
            .logos img {
                height: 30px;
            }
        }
    }
    .project-card {
        h1 {
            font-size: 28px;
            top: 13%;
            transform: translate(50%);
            padding-bottom: 5px;
        }
        
    }
}