// Portfolio page styles

.post-type-archive-bt-projects {
    text-align: center;
    main {
        padding: 15px;
    }
    .project-card {
        position: relative;
        max-width: 600px;
        margin: auto;
        a {
            text-decoration: none;
            color: black;
        }
        h1 {
            position: absolute;
            top: 15%;
            right: 50%;
            font-size: 8vw;
            text-transform: uppercase;
            transform: translate(50%, 50%);
            width: 400px;
            z-index: 2;
            color: white;
            @media (min-width: 600px){
                font-size: 44px;
                top: 20%;
            }
        }
        .logos {
            margin: 10px 0 60px 0;
            img {
                height: 8vw;
                width: auto;
                margin: 0 5px;
                max-height: 60px;
            }
        }
        .project-poster {
            border-radius: 25px;
            filter: brightness(50%);
            -webkit-filter: brightness(50%);
            -moz-filter: brightness(50%);
            box-shadow: $shadow;
        }
    }
}