body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

@font-face {
	font-family: 'OratorStd';
	src: url('fonts/OratorStd.otf');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

$heading_font: 'OratorStd';

h1, h2, h3, h4, a {
	font-family: $heading_font;
	text-transform: lowercase;
	font-weight: normal;
}
