.main-navigation {
	display: block;
	border-top: 1px solid $gold;
	padding-bottom: 10px;
	height: 100px;
	box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.452);

	// Make fixed bottom nav
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $darkblue;
	z-index: 999;
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		justify-content: space-between;
		padding: 15px;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		width: 100%;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 30px;
		position: absolute;
		bottom: -40%;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Styles for icons on mobile nav bar
.home-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 46px;
	background-size: 40px auto;
}

.portfolio-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 46px;
	background-size: 40px auto;
}

.about-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 46px;
	background-size: auto 40px;
}

.contact-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 46px;
	background-size: 35px auto;
}

// Desktop navigation styles
@media (min-width: 1000px){
	.main-navigation {
		position: static;
	}
}