.site-footer {
    background-color: $darkblue;
    color: $gold;
    text-align: center;
    padding: 50px 0 100px 0 ;
    margin-bottom: 100px;
    h1 {
        margin: 0 0 20px 0;
        font-size: 4vw;
        @media (min-width: 900px){
            font-size: 36px;
        }
    }
    a {
        font-size: 4vw;
        text-decoration: none;
        color: $gold;
        line-height: 1.5;
        @media (min-width: 600px){
            font-size: 24px;
        }
    }
    a:hover {
        color: white;
    }
    img {
        width: 10vw;
        margin: 35px 2% 0 2%;
        max-width: 50px;  
    }
    .social-media-icons {
        max-width: 610px;
        margin: auto;
    }
    .social-media-icons img{
        transition: 0.2s ease-in; // Make icons drop slowly after hover
    }
    .social-media-icons img:hover {
        transform: translateY(-0.25em);
        transition: 0.6s ease; // Hovers icons
    }  

}

@media (min-width: 1001px){
    .site-footer {
        margin-bottom: 0;
    }
}