.site-footer {
    background-color: $darkblue;
    color: $gold;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    h2 {
        margin: 5px;
        font-size: 18px;
    }
    img {
        width: 50px;
        margin: 5px 20px 5px 20px;
    }
}