.site-header {
    background-color: $darkblue;
    p {
        margin: 0;
    }
    ul {
        a {
            color: $gold;
            display: block;
        }
        a:hover, a:active, a:focus {
            color: white;
        }
    }
    svg {
        width: 10%;
        max-width: 60px;
    }
    svg path {
        fill: $gold;
    }
    .site-title {
        padding: 10px 20px;
        text-align: left;
        max-height: 80px;
    }

    @media (min-width: 1001px){
        .site-title {
            svg {
                width: 60px;
            }
        }
    }
}